.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer h1 {
  font-family: serif;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1.5rem;
}

.inputContainer h1 span {
  color: orange;
}

.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: orange;
  border: none;
  cursor: pointer;
}

/* background animation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 1%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 73%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 41%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 7s;
}
.background li:nth-child(3) {
  left: 51%;
  width: 61px;
  height: 61px;
  bottom: -61px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 81%;
  width: 70px;
  height: 70px;
  bottom: -70px;
  animation-delay: 6s;
}
.background li:nth-child(5) {
  left: 50%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 5s;
}
.background li:nth-child(6) {
  left: 33%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 11s;
}
.background li:nth-child(7) {
  left: 85%;
  width: 88px;
  height: 88px;
  bottom: -88px;
  animation-delay: 29s;
}
.background li:nth-child(8) {
  left: 30%;
  width: 121px;
  height: 121px;
  bottom: -121px;
  animation-delay: 34s;
}
.background li:nth-child(9) {
  left: 46%;
  width: 53px;
  height: 53px;
  bottom: -53px;
  animation-delay: 21s;
}
.background li:nth-child(10) {
  left: 67%;
  width: 57px;
  height: 57px;
  bottom: -57px;
  animation-delay: 7s;
}
.background li:nth-child(11) {
  left: 28%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 13s;
}
.background li:nth-child(12) {
  left: 48%;
  width: 63px;
  height: 63px;
  bottom: -63px;
  animation-delay: 36s;
}
.background li:nth-child(13) {
  left: 18%;
  width: 124px;
  height: 124px;
  bottom: -124px;
  animation-delay: 56s;
}
.background li:nth-child(14) {
  left: 19%;
  width: 83px;
  height: 83px;
  bottom: -83px;
  animation-delay: 51s;
}
.background li:nth-child(15) {
  left: 49%;
  width: 74px;
  height: 74px;
  bottom: -74px;
  animation-delay: 35s;
}
