.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer h1 {
  font-family: serif;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1.5rem;
}

.inputContainer h1 span {
  color: orange;
}

.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: orange;
  border: none;
  cursor: pointer;
}

/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p {
  color: white;
  border: 1px solid orange;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.result button {
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  border: none;
  background: orange;
}

.result button.copied {
  color: orange;
  background: white;
}

.noData {
  color: white;
  font: 1 rem;
}

/* background animation */
/* @keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 1%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 73%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 41%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 7s;
}
.background li:nth-child(3) {
  left: 51%;
  width: 61px;
  height: 61px;
  bottom: -61px;
  animation-delay: 2s;
}
.background li:nth-child(4) {
  left: 81%;
  width: 70px;
  height: 70px;
  bottom: -70px;
  animation-delay: 6s;
}
.background li:nth-child(5) {
  left: 50%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 5s;
}
.background li:nth-child(6) {
  left: 33%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 11s;
}
.background li:nth-child(7) {
  left: 85%;
  width: 88px;
  height: 88px;
  bottom: -88px;
  animation-delay: 29s;
}
.background li:nth-child(8) {
  left: 30%;
  width: 121px;
  height: 121px;
  bottom: -121px;
  animation-delay: 34s;
}
.background li:nth-child(9) {
  left: 46%;
  width: 53px;
  height: 53px;
  bottom: -53px;
  animation-delay: 21s;
}
.background li:nth-child(10) {
  left: 67%;
  width: 57px;
  height: 57px;
  bottom: -57px;
  animation-delay: 7s;
}
.background li:nth-child(11) {
  left: 28%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 13s;
}
.background li:nth-child(12) {
  left: 48%;
  width: 63px;
  height: 63px;
  bottom: -63px;
  animation-delay: 36s;
}
.background li:nth-child(13) {
  left: 18%;
  width: 124px;
  height: 124px;
  bottom: -124px;
  animation-delay: 56s;
}
.background li:nth-child(14) {
  left: 19%;
  width: 83px;
  height: 83px;
  bottom: -83px;
  animation-delay: 51s;
}
.background li:nth-child(15) {
  left: 49%;
  width: 74px;
  height: 74px;
  bottom: -74px;
  animation-delay: 35s;
} */

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #0040c1;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #0039ad;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 8s ease-in forwards infinite;
}
undefined .background li:nth-child(0) {
  animation-delay: 0s;
  left: 11vw;
  top: 9vh;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 69vw;
  top: 37vh;
  border-color: #0046d4;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 42vw;
  top: 84vh;
  border-color: #0046d4;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 14vw;
  top: 64vh;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 82vw;
  top: 5vh;
  border-color: #0046d4;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 53vw;
  top: 29vh;
  border-color: #0046d4;
}

.background li:nth-child(6) {
  animation-delay: 12s;
  left: 75vw;
  top: 13vh;
  border-color: #0046d4;
}

.background li:nth-child(7) {
  animation-delay: 14s;
  left: 61vw;
  top: 53vh;
  border-color: #0046d4;
}

.background li:nth-child(8) {
  animation-delay: 16s;
  left: 4vw;
  top: 12vh;
  border-color: #0046d4;
}

.background li:nth-child(9) {
  animation-delay: 18s;
  left: 94vw;
  top: 93vh;
  border-color: #0046d4;
}

.background li:nth-child(10) {
  animation-delay: 20s;
  left: 34vw;
  top: 86vh;
}

.background li:nth-child(11) {
  animation-delay: 22s;
  left: 72vw;
  top: 49vh;
}

.background li:nth-child(12) {
  animation-delay: 24s;
  left: 5vw;
  top: 97vh;
  border-color: #0046d4;
}

.background li:nth-child(13) {
  animation-delay: 26s;
  left: 43vw;
  top: 25vh;
  border-color: #0046d4;
}

.background li:nth-child(14) {
  animation-delay: 28s;
  left: 35vw;
  top: 17vh;
  border-color: #0046d4;
}

.background li:nth-child(15) {
  animation-delay: 30s;
  left: 63vw;
  top: 22vh;
}

.background li:nth-child(16) {
  animation-delay: 32s;
  left: 15vw;
  top: 79vh;
}

.background li:nth-child(17) {
  animation-delay: 34s;
  left: 19vw;
  top: 65vh;
}

.background li:nth-child(18) {
  animation-delay: 36s;
  left: 24vw;
  top: 21vh;
  border-color: #0046d4;
}

.background li:nth-child(19) {
  animation-delay: 38s;
  left: 0vw;
  top: 73vh;
  border-color: #0046d4;
}

.background li:nth-child(20) {
  animation-delay: 40s;
  left: 26vw;
  top: 80vh;
}

.background li:nth-child(21) {
  animation-delay: 42s;
  left: 98vw;
  top: 51vh;
  border-color: #0046d4;
}

.background li:nth-child(22) {
  animation-delay: 44s;
  left: 50vw;
  top: 17vh;
}

.background li:nth-child(23) {
  animation-delay: 46s;
  left: 85vw;
  top: 42vh;
  border-color: #0046d4;
}

.background li:nth-child(24) {
  animation-delay: 48s;
  left: 95vw;
  top: 1vh;
  border-color: #0046d4;
}

.background li:nth-child(25) {
  animation-delay: 50s;
  left: 58vw;
  top: 39vh;
  border-color: #0046d4;
}

.background li:nth-child(26) {
  animation-delay: 52s;
  left: 55vw;
  top: 71vh;
}

.background li:nth-child(27) {
  animation-delay: 54s;
  left: 46vw;
  top: 75vh;
}

.background li:nth-child(28) {
  animation-delay: 56s;
  left: 8vw;
  top: 32vh;
  border-color: #0046d4;
}

.background li:nth-child(29) {
  animation-delay: 58s;
  left: 49vw;
  top: 98vh;
  border-color: #0046d4;
}

.background li:nth-child(30) {
  animation-delay: 60s;
  left: 79vw;
  top: 69vh;
}

.background li:nth-child(31) {
  animation-delay: 62s;
  left: 82vw;
  top: 41vh;
  border-color: #0046d4;
}

.background li:nth-child(32) {
  animation-delay: 64s;
  left: 88vw;
  top: 89vh;
}

.background li:nth-child(33) {
  animation-delay: 66s;
  left: 21vw;
  top: 58vh;
}

.background li:nth-child(34) {
  animation-delay: 68s;
  left: 31vw;
  top: 47vh;
  border-color: #0046d4;
}

.background li:nth-child(35) {
  animation-delay: 70s;
  left: 39vw;
  top: 33vh;
}

.background li:nth-child(36) {
  animation-delay: 72s;
  left: 29vw;
  top: 3vh;
}

.background li:nth-child(37) {
  animation-delay: 74s;
  left: 92vw;
  top: 57vh;
}

.background li:nth-child(38) {
  animation-delay: 76s;
  left: 65vw;
  top: 61vh;
  border-color: #0046d4;
}

.background li:nth-child(39) {
  animation-delay: 78s;
  left: 72vw;
  top: 91vh;
  border-color: #0046d4;
}
